.header {
  display: flex;
  align-items: flex-start;
  z-index: 1;
  width: 100%;
  position: fixed;
  font-size: .8rem;
  height: 1.5rem;
  margin: 0;
  color: $secondary-text;
  background-color: $darkcarbon;
  padding: .2rem .5rem 0 1rem;
  font-weight: bold;
  a:nth-child(1n), div:nth-child(1n) {
    margin-right: 1rem;
  }
  .header-logo {
    display: inline-block;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    transition: .3s;
    &:hover {
      opacity: .5;
    }
  }
  .app-name {
    display: flex;
    .canardvapeur {
      opacity: 1;
      width: 1.25rem;
      height: 1.25rem;
    }
    span:nth-child(1n), div:nth-child(1n) {
      margin-right: .5rem;
    }
  }
}
.canardvapeur {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'%3E%3Cpath fill='%23EBF2FA' d='M24.223 2.89c-8.33-.101-16.02 7.456-15.754 15.842-.913 1.874-7.028 1.812-3.55 4.44 1.413 1.95 5.842-1.398 3.175 1.465-1.68 2.546 1.124 3.092 3.005 2.198 2.502 2.574-1.836 6.143-3.922 7.706-4.707 2.837-7.484 8.31-7.13 13.777 2.9 16.283 18.158 15.926 30.632 15.689 9.238-.44 18.888-2.5 26.3-8.327 6.408-5.296 8.756-14.63 5.865-22.384-1.32-3.633-3.024-7.154-4.96-10.486-2.795-2.962-6.084 1.491-6.995 4.07-4.003 3.938-20.275 8.735-18.826 2.619 1.214-2.29 4.016-3.37 4.843-6.078 3.06-6.053 1.555-14.429-4.428-18.121a14.512 14.512 0 00-8.255-2.41z' color='%23fff' /%3E%3Cg fill='none' stroke='%23fff' stroke-width='10'%3E%3Cpath d='M240 15c7.166 6.922 14.45 14.397 18.077 23.857 2.118 5.043-.18 10.634-3.955 14.207-4.81 5.302-11.988 9.186-13.91 16.539-1.042 6.923 3.63 13.028 7.47 18.302 3.394 4.33 7.172 8.358 11.207 12.095M270 15c7.166 6.922 14.45 14.397 18.077 23.857 2.118 5.043-.18 10.634-3.955 14.207-4.81 5.302-11.988 9.186-13.91 16.539-1.042 6.923 3.63 13.028 7.47 18.302 3.394 4.33 7.172 8.358 11.207 12.095M300 15c7.166 6.922 14.45 14.397 18.077 23.857 2.118 5.043-.18 10.634-3.955 14.207-4.81 5.302-11.988 9.186-13.91 16.539-1.042 6.923 3.63 13.028 7.47 18.302 3.394 4.33 7.172 8.358 11.207 12.095' transform='matrix(.1963 0 0 .21126 -5.596 -1.126)'/%3E%3C/g%3E%3C/svg%3E");
}
.twitter {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'%3E%3Cpath fill='%23fff' d='M68.812 15.14a26.189 26.189 0 0 1-7.52 2.06 13.125 13.125 0 0 0 5.757-7.243 26.133 26.133 0 0 1-8.314 3.176A13.066 13.066 0 0 0 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396a13.057 13.057 0 0 0-1.77 6.58c0 4.543 2.312 8.552 5.824 10.9a13.05 13.05 0 0 1-5.93-1.64c-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09a26.29 26.29 0 0 1-16.26 5.605c-1.055 0-2.096-.06-3.122-.184a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693a26.61 26.61 0 0 0 6.532-6.774z'/%3E%3C/svg%3E");
}
.github {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' %3E%3Cpath fill='%23fff' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z'%3E%3C/path%3E%3C/svg%3E");
}
