.login {
  display: block;
  position: relative;
  margin: 0;
  .login-logo {
    display: inline-block;
    align-items: center;
    width: .9rem;
    height: .9rem;
    margin-left: .5rem;
    transition: .3s;
    vertical-align: bottom;
    &:hover {
      opacity: .5;
    }
  }
  .login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-top: 3rem;
    small {
      font-size: 1.8rem;
      margin-left: .5rem;
    }
    .normal-text {
      display: flex;
      flex-direction: row;
      font-weight: lighter;
      font-size: .8rem;
      margin-top: .5rem;
    }
    .canardvapeur-logo {
      text-align: center;
      width: 5rem;
      height: 5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'%3E%3Cpath fill='%23EBF2FA' d='M24.223 2.89c-8.33-.101-16.02 7.456-15.754 15.842-.913 1.874-7.028 1.812-3.55 4.44 1.413 1.95 5.842-1.398 3.175 1.465-1.68 2.546 1.124 3.092 3.005 2.198 2.502 2.574-1.836 6.143-3.922 7.706-4.707 2.837-7.484 8.31-7.13 13.777 2.9 16.283 18.158 15.926 30.632 15.689 9.238-.44 18.888-2.5 26.3-8.327 6.408-5.296 8.756-14.63 5.865-22.384-1.32-3.633-3.024-7.154-4.96-10.486-2.795-2.962-6.084 1.491-6.995 4.07-4.003 3.938-20.275 8.735-18.826 2.619 1.214-2.29 4.016-3.37 4.843-6.078 3.06-6.053 1.555-14.429-4.428-18.121a14.512 14.512 0 00-8.255-2.41z' color='%23fff' /%3E%3Cg fill='none' stroke='%23fff' stroke-width='10'%3E%3Cpath d='M240 15c7.166 6.922 14.45 14.397 18.077 23.857 2.118 5.043-.18 10.634-3.955 14.207-4.81 5.302-11.988 9.186-13.91 16.539-1.042 6.923 3.63 13.028 7.47 18.302 3.394 4.33 7.172 8.358 11.207 12.095M270 15c7.166 6.922 14.45 14.397 18.077 23.857 2.118 5.043-.18 10.634-3.955 14.207-4.81 5.302-11.988 9.186-13.91 16.539-1.042 6.923 3.63 13.028 7.47 18.302 3.394 4.33 7.172 8.358 11.207 12.095M300 15c7.166 6.922 14.45 14.397 18.077 23.857 2.118 5.043-.18 10.634-3.955 14.207-4.81 5.302-11.988 9.186-13.91 16.539-1.042 6.923 3.63 13.028 7.47 18.302 3.394 4.33 7.172 8.358 11.207 12.095' transform='matrix(.1963 0 0 .21126 -5.596 -1.126)'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
  .login-form {
    margin-top: 2rem;
    input {
      font-size: 1.5rem;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $lightgray;
      color: $primary-text;
    }
    button {
      text-align: center;
      border-radius: 4px;
      font-size: 1.5rem;
      border: none;
      background-color: $lightcarbon;
      color: $primary-text;
      font-weight: bold;
      margin: 0 .5rem;
      padding: .5rem 1rem 2px;
      transition: .3s;
      cursor: pointer;
      &:hover {
        background-color: $notsodarkcarbon;
      }
    }
  }
  .error {
    font-weight: normal;
    font-size: 1.5rem;
    color: $red;
  }
  .login-help {
    margin-top: .5rem;
    font-weight: normal;
    font-size: .8rem;
  }
  .center-text {
    width: 50%;
    margin: 1rem auto 0;
    @media screen and (max-width: $breakpoint-mobile1) {
      width: 80%;
      margin: 3rem 2rem 0;
    }
  }
  .disclaimer {
    font-size: .7rem;
    font-style: italic;
    color: $secondary-text;
  }
}
