.switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: .2rem;

  label {
    color: $primary-text;
    font-size: .9rem;
    margin-right: .5rem;
    margin-bottom: .1rem;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    &:focus {
      outline: 0;
    }

    &.toggle {
      height: 20px;
      width: 36px;
      border-radius: 16px;
      display: inline-block;
      position: relative;
      margin: 0;
      border: 2px solid $lightcarbon;
      background: linear-gradient(180deg, $carbon 0%, $darkcarbon 100%);
      transition: all .2s ease;
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: white;
        box-shadow: 0 1px 2px rgba(44,44,44,.2);
        transition: all .2s cubic-bezier(.5,.1,.75,1.35);
      }
      &:checked {
        border-color: $green1;
        &:after {
          transform: translatex(16px);
        }
      }
    }
  }
}
